/**
 * @file
 * Form Styling
 */
/* line 7, ../sass/forms.scss */
.form-item .description {
  font-size: .75em;
  line-height: 1.3;
}

/* line 13, ../sass/forms.scss */
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
}

/* line 17, ../sass/forms.scss */
.field-prefix + input[type="text"] {
  display: inline-block;
  max-width: 95%;
}
